@media screen and (max-width:1300px) {
  .song-display {
    width: calc((100% / 4) - var(--gap-var));
  }
}

@media screen and (max-width:700px) {
  .song-display {
    width: calc((100% / 2) - var(--gap-var));
  }
}

@media screen and (max-width:600px) {
  /*LEFT*/
  .left {
    min-width: var(--left-nav-width-small);
    max-width: var(--left-nav-width-small);
  }
  .page .anchor {
    gap:0;
    padding-left:10px;
    padding-right:10px;
  }
  .page-btn {
    margin-top:-35px;
  }
  .top {
    width:calc(100% - var(--left-nav-width-small));
  }
  .logo {
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom:0px;
  }
  .small-res-logo {
    display:block;
    width:40px;
  }
  .hide {
    display:none;
  }
  .prof-name {
    border-top: 2px solid transparent;
    margin:auto;
  }
  .prof-img{
    padding: 3px 8px;
  }
  .profile {
    margin-top:auto;
    justify-content: center;
  }
  .install div {
    margin-left: 4px;
  }
  
}





