:root {
  --left-nav-width: 250px;
  --left-nav-width-small: 60px;
  --player-height:100px;
  --gap-var:20px;
  --player-color:#282828;
  --left-nav-color:#000;
  --songs-displayer-color:#141922;
  --non-hover-txt-color:#898989;
  --spotify-green:#1fdf64;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/*NON POSSO LEVARLO O LEFT E RIGHT CRESCONO IN ALTEZZA A DISMISURA 
SPOSTANDO IN BASSO IL FOOTER*/
/*body>*,
.main-container>* {
  min-width: 100px;
  min-height: 100px;create
}*/
/*AGGIUNGERE LA MIN HEIGHT ALLE COSE AIUTA A NON ROMPERLO*/

/*--------------GENERAL--------------*/
body {
  height: 100vh;
  flex-direction: column;
}

.main-container {
  min-height: 100px;
}

.flex {
  display:flex;
}

.column {
  flex-direction: column;
}

.jf-content {
  justify-content: center;
}

.f-grow {
  flex-grow: 1;
}

.f-no-grow {
  flex-grow:0;
}

.f-shrink {
  flex-shrink:1;
}

.of-auto {
  overflow: auto;
}

.of-hidden {
  overflow: hidden;
}

/*--------------LEFT--------------*/
.left {
  background-color: var(--left-nav-color);
  min-width: var(--left-nav-width);
  max-width: var(--left-nav-width);
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  margin-top:20px;
  height:60px;
  width:100%;
}

.small-res-logo {
  display:none;
}

.left-padding {
  padding-left: 20px;
  padding-right:20px;
}


.logo img {
  height:60px;
}

.page-menu {
  margin-top:30px;
}

.page-btn {
  list-style: none;
}

.page-btn li {
  margin-top:10px;
}

.svg-size {
  height:2.2rem;
}

.currentColor {
  color:var(--non-hover-txt-color);
}

.page .anchor {
  color:currentColor;
  align-items: center;
  gap:10px;
  text-decoration:none;
  border-left:2px solid transparent;
}

.anchor:focus {
  border-color:var(--spotify-green);
}

.anchor:focus .currentColor,
.anchor:focus .name-page {
  color:white;
}

.anchor:hover .currentColor,
.anchor:hover .name-page {
  color:white;
}

.name-page {
  font-size: 1.1rem;
  color:var(--non-hover-txt-color);
}

/*Create a playlist*/
.add-btn {
  height:50px;
  width:50px;
  background-color: var(--non-hover-txt-color);
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-right:10px;
}

.playlist-title {
  color:white;
  font-size: 1rem;
  margin-top:30px;
  margin-bottom:10px
}

.margin-bottom-playlists {
  margin-bottom: 30px;
}

.create {
  font-weight:bold;
  color: var(--non-hover-txt-color);
  border-left:2px solid transparent;
}

.create-a-pl {
  flex-direction: column;
}

.create:hover {
  color:white;
  cursor: pointer;
}

.create:focus {
  border-color: var(--spotify-green);
  color:white;
}

.create-pl {
  align-items: center;
  margin-bottom:40px;
}

.create-pl:hover .add-btn {
  background-color: white;
  cursor: pointer;
}

.create-pl:hover .create {
  color:white;
  cursor: pointer;
}

/*PROFILE*/
.profile {
  margin-bottom:20px;
  margin-top:20px;
}

.profile div {
  color:white;
  font-weight: bold;
  margin-right:10px;
}

.install {
  margin-bottom:11px;
}

.install div {
  color:var(--non-hover-txt-color);
}

.install:hover div {
  cursor: pointer;
  color:white;
}

.prof-name {
  align-items: center;
  padding-top:10px;
  border-top: 2px solid var(--non-hover-txt-color);
}

.prof-name div {
  font-size: 1.3rem;
}

.prof-img {
  background-color: var(--non-hover-txt-color);
  min-height:27px;
  min-width:27px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right:10px;
}

.prof-img-size {
  height:20px;
  width:20px;

}

/*--------------RIGHT--------------*/
.container {
  overflow: auto;
  position: relative;
  padding-top:100px;
  background-color: var(--songs-displayer-color);
}

.top {
  position: fixed;
  width:calc(100% - var(--left-nav-width));
  top:0;
  overflow: hidden;
  z-index: 1;
  padding:20px;
  background-color: hwb(0 0% 100% / 0.548);
  justify-content:end;
  align-items: center;
}

.upgrade-btn {
  background-color: #080b12;
  border: 1px solid white;
  padding:15px 30px;
  border-radius: 25px;
  color:white;
}

.upgrade-btn:hover {
  cursor: pointer;
  background-color: var(--songs-displayer-color);
}
.upgrade-btn:active {
  padding:12px 27px;
  margin:3px 3px;
  font-size: 0.8rem;
}

/*Categories*/
.categories {
  justify-content:center;
  flex-wrap:wrap;
  gap:25px;
  color:var(--non-hover-txt-color);
  font-weight: bold;
  font-size: 0.8rem;
}

.cat {
  padding:10px;
}

.cat:hover {
  color:white;
  cursor: pointer;
}

.cat:focus {
  color:white;
  border-bottom: 2px solid green;
}

/*Songs*/
.lateral-margin {
  margin:0px 20px;
}

.song-container-margin {
  margin-top:50px;
  width:100%;
}

.margin-container {
  margin-top:40px;
  margin-bottom:20px;
}

.recently-played {
  width:100%;
  flex-wrap: wrap;
  gap:var(--gap-var);
}

.section-title {
  margin-bottom:20px;
  font-size: 1.8rem;
  color:white;
}

.song-display {
  width: calc((100% / 6) - var(--gap-var));
  color:white;
  text-align: center;
  display: inline-block;
}

.song-name {
  font-size: initial;
  margin-top:16px;
  margin-bottom: 8px;
}

.artist {
  font-size: small;
  font-weight: bold;
  color:var(--non-hover-txt-color)
}

.img-width {
  width:100%;
}

/*FOR YOU*/

.for-you {
  margin-bottom:20px;
}
.for-you .section-title {
  margin-bottom:5px;
}
/*Artist*/
.circle-pic {
  aspect-ratio: 1/1;
  border-radius:50%;
}



/*--------------FOOTER--------------*/
.footer {
  background-color: var(--player-color);
  min-width: 100px;
  min-height: 100px;
  width:100%;
  align-items: center;
}

.player-bar {
  width:100%;
  padding-left:20px;
  padding-right:20px;
  justify-content: space-between;
}

.align-items {
  align-items: center;
}

/*PLAYER*/

.play-left {
  width:25%;
}

.player-img {
  width:60px;
  justify-content: space-between;
  align-items: center;
}

.color-fonts {
  color:white;
}

.song-title {
  font-size:1rem;
  font-weight: bold;
  
}

.song-artist {
  font-weight: bold;
  color:var(--non-hover-txt-color);
  font-size:0.8rem;
}

.img-name-artist {
  justify-content: center;
  align-items:center;
  gap:30px;
}

.fa-heart:hover {
  color:var(--spotify-green);
  cursor: pointer;
}

.img-name-artist i {
  color:var(--non-hover-txt-color);
}

/*Middle*/
.play-middle {
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  max-width:800px;
  width:100%;
}

.padre-barra {
  width:100%;
}

.player-buttons {
  color:white;
  margin-bottom:10px;
}

.fonts {
  font-size: 1.5rem;
}

.fonts:hover {
  cursor: pointer;
}

.fa-rotate-right,
.fa-shuffle {
  font-size: 1.3rem;
}

.distance {
  margin:0px 50px;
  font-size:2rem;
}

.distance-s {
  margin-right:30px;
}

.bar {
  height:3px;
  min-width:500px;
  background-color:var(--non-hover-txt-color);
  margin:0px 20px;
}

.in-bar {
  height:3px;
  width:33%;
  background-color: white;
}

.time {
font-size:0.8rem;
}

.play-right {
  width:25%;
  color:white;
  align-items: center;
  justify-content:flex-end;
  gap:20px;
}

.volume {
  height:3px;
  min-width:90px;
  background-color: white;
  margin-left:10px;
}



